- @title = "Contact"
- @body_class = "page contact"

.left-container
  %h1= @title
  .scrollbar-pane
:plain
  <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

  <script type="text/javascript">
  var z7p9k5 = new WufooForm();
  z7p9k5.initialize({
  'userName':'media3creative', 
  'formHash':'z7p9k5', 
  'autoResize':true,
  'height':'458'});
  z7p9k5.display();
  </script>



- content_for :page_javascript do
  :javascript
    $(document).ready(function() {

      $.ezBgResize({
        img     : "/images/backgrounds/contact.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
    });