@import base
@import color_definitions
@import partials/typography
// Configure grid coordinates
$grid-columns: 24
$grid-width: 30px
$grid-gutter-width: 10px

@import grid-coordinates
+grid-coordinates
  
body
  background: #000
  font-size: 14px
  overflow-x: hidden
  
// Here down is project level
#mast-header
  position: relative
  width: 100%
  height: 95px
  top: -10px
  background: #fff
#banner
  position: relative
  width: 0px
  height: 170px
  background: transparent image-url("swift-sessions-home.png") no-repeat
  margin: 0 auto
  top: 18px
  

#mc_embed_signup
  position: fixed
  bottom: 40px
  left: 20px
  
  
// Site logo
#logo
  position: absolute
  background: image-url("logo.png") no-repeat
  height: 69px
  +float-left
  width: 275px
  top: 0
  margin-left: 60px
  margin-top: 8px
  z-index: 1
  a
    position: absolute
    height: 100%
    text-indent: -99999px
    width: 100%

#login
  #logo2
    position: fixed
    background: image-url("logo2.png") no-repeat
    height: 96px
    width:  81px
    +float-right
    bottom: 40px
    right: 0
    padding-right: 70px
    z-index: 1
  a.login
    @extend .font-helvetica
    color: #fff
    background: $accent-color
    padding: 4px 35px 4px 7px
    display: block
    position: fixed
    list-style: none
    right: 0px
    bottom: 40px
    font-size: 10px
    z-index: 2
  &:hover
    a.login
      text-decoration: underline
    
  
  // Main navigation
.navigation
  @extend .font-helvetica
  position: relative
  +float-right
  margin: 0 auto
  font-size: 13px
  top: 68px
  right: 30px
  ul
    position: relative
    +pie-clearfix
    li
      +float-left
      position: relative
      display: block
      margin-left: 5px
      a
        color: $accent-color
        display: block
        padding: 6px 10px
        text-decoration: none
        &:hover
          @extend .navigation-hover

.navigation-hover
  color: #000
  
// Navigation
body.home a.home, body.about a.about, body.testimonials a.testimonials, body.sponsorspartners a.sponsorspartners, body.contact a.contact, body.services li.services > a
  @extend .navigation-hover
  
#contact-container
  @extend .grid-container
  @extend .font-helvetica
  +box-sizing(border-box)
  position: absolute
  top: 56%
  right: -100%
  width: 55%
  margin-top: -190px
  margin-left: -480px
  color: #fff
  z-index: 1
  color: #fff
  z-index: 1
  iframe
    position: absolute
    overflow: hidden
    margin-left: 10px
    top: 59px
  h1
    @extend .font-helvetica
    font-size: 42px
    line-height: 1em
    margin: 24px 0 -20px 16px

    :text-transform uppercase
    color: $accent-color
    
body.page
  // Content area
  #content
    .container
      @extend .grid-container
      width: 55%
      @extend .font-helvetica
      +box-sizing(border-box)
      position: absolute
      top: 55%
      right: -100%
      margin-top: -190px
      background: #000
      color: #fff
      z-index: 1
      border-bottom: solid #fff 2px

      .left-container
        +box-sizing(border-box)
        padding: 35px 15px 15px 15px
        line-height: 30px
        width: 100%
        +float-left
        
        h1
          @extend .font-helvetica
          font-size: 42px
          line-height: 1em
          margin-bottom: 20px
          :text-transform uppercase
          color: $accent-color
        h2
          display: block
          padding-top: 10px
          line-height: 16px
          color: $accent-color
          
//Testimony page
.test
  display: block
  +float-left
  clear: left
  padding-left: 10px
  &:hover
    background: #222
  img
    width: 100px
    height: 100px
    background: #fff
    +float-left
    margin: 5px 10px 8px 0
    clear: left

p.testimony
  font-style: italic
  line-height: 16px
  margin-bottom: 5px
  padding-top: 7px
  margin-right: 20px

p.name
  font-size: 80%
  color: #eee
  margin: 0
  font-weight: bold
  line-height: 12px
  .sponsor-gold
    color: #D3AD15

p.who
  font-size: 80%
  color: #eee
  margin: 0
  margin-bottom: 5px

p.link
  position: relative
  margin-top: 10px
  font-size: 85%
  +float-right
  padding-right: 20px
  text-decoration: underline
  color: $accent-color
  clear: both

//Services List Page
.service-list
  margin: 0 auto
  .service
    display: inline
    +float-left
    padding-right: 3%
    #service-image
      height: 115px
      width: 115px
      padding-bottom: 5px
    p.service-text
      width: 115px
      line-height: 16px
      text-align: center
      
//Sponsors and Partners page
#sponsors, #partners
  +box-sizing(border-box)
  position: relative
  +float-left
  width: 100%
  margin: 3px 0
  &:hover
    background: none
    h2
      font-weight: bold
  .partner, .sponsor
    @extend .test
    clear: none
    display: inline
    font-size: 13px
    margin: 0 3px
    padding: 2px
    &:hover
      background: none
    img
      border: solid #FFF 1px

  .sponsor-gold
    @extend .sponsor
    img
      border: solid #977c0f 1px
  
  .sponsor-silver
    @extend .sponsor
    img
      border: solid #999 1px


// Wide Page Formatting
body.wideServices
  // Content area
  #content
    .container
      +box-sizing(border-box)
      @extend .grid-container
      @extend .font-helvetica
      width: 55%
      position: relative
      margin-top: 100%
      margin-bottom: 150px
      background: #000
      color: #fff
      z-index: 1
      border-bottom: solid #fff 2px

      .wide-container
        +box-sizing(border-box)
        font-size: 14px
        line-height: 1.7em
        width: 100%
        +float-left
        padding: 35px 0 15px 0
        z-index: 5
        a.back
          color: #444
          text-decoration: underline
          +float-right
        h1
          @extend .font-helvetica
          font-size: 42px
          line-height: 1em
          margin-bottom: 20px
          padding: 0 15px
          :text-transform uppercase
          color: $accent-color
        .package
          padding: 0px 15px
          margin-bottom: .7em
          &:hover
            background: #222

        h2
          display: block
          padding-top: 10px
          line-height: 16px
          margin-bottom: 5px
          color: $accent-color

        p
          padding-bottom: 10px

// Scrollbar Pane
.scrollbar-pane
  height: 100%
  min-height: 280px
  overflow: display
  position: relative

.scrollbar-handle-container
  width: $scrollbar-width

.scrollbar-handle
  +border-radius($scrollbar-width / 2)
  width: $scrollbar-width
  background: $scrollbar-handle-color
  &:hover
    background: darken($scrollbar-handle-color,5)
  &.move
    background: darken($scrollbar-handle-color,12)

.scrollbar-handle-up
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-up-color
  &:hover
    background: $scrollbar-handle-up-hover-color

.scrollbar-handle-down
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-down-color
  &:hover
    background: $scrollbar-handle-down-hover-color
    