@import base
@import color_definitions
@import partials/typography
// Configure grid coordinates
$grid-columns: 24
$grid-width: 30px
$grid-gutter-width: 10px

@import grid-coordinates

+grid-coordinates

body
  background: #fff
  font-size: 12px
// Here down is project level


  
#mast-header
  position: relative
  width: 100%
  height: 114px
  top: -10px
  background: image-url("top-bar.jpg") repeat-x 
  #brand
    position: relative
    width: 897px
    height: 114px
    background: transparent image-url("brand.png") no-repeat
    margin: 0 auto 

body.splash #mast-header
  @extend #mast-header
  position: absolute
  top: 50%
  margin-top: -100px

// Site logo
#logo
  position: relative
  background: image-url("logo.png") no-repeat
  height: 55px
  +float-right
  width: 116px
  top: -88px
  margin-right: 20px
  z-index: 1
  a
    position: absolute
    height: 100%
    text-indent: -99999px
    width: 100%
    
#splash-logo
  @extend #logo
  top: 10px

  // Main navigation
.navigation
  @extend .ff-dagny
  position: absolute
  margin: 0 auto
  width: 80%
  font-size: 14px
  top: 88px
  left: 148px
  ul
    position: relative
    +pie-clearfix

    li
      +float-left
      position: relative
      display: block
      margin-left: 5px
      a
        color: #fff
        display: block
        padding: 8px 20px
        text-decoration: none
        &:hover
          @extend .navigation-hover

.navigation-hover
  color: $accent-color
  
// Navigation
body.home a.home, body.about a.about, body.contact a.contact, body.gallery a.gallery, body.testimonials a.testimonials, body.services li.services > a
  @extend .navigation-hover
  


  
.content-container
  position: absolute
  top: 50%
  left: 50%
  background: image-url("trans-bg.png") repeat
  height: 450px
  margin-top: -190px
  margin-left: -480px
  color: #fff
  z-index: 1
  border: solid #453419 2px
  +border-radius(20px)

  
  



body.page, body.home
  // Content area
  #content
    .container
      @extend .grid-container
      @extend .content-container 
      @extend .ff-dagny
      +border-radius(20px)
      +box-sizing(border-box)
      .left-container, .right-container
        +box-sizing(border-box)
        padding: 35px 15px 15px 15px
        font-size: 18px
        line-height: 30px
        width: 970px
        h1
          @extend .ff-dagny
          font-size: 36px
          line-height: 15px
          margin-bottom: 20px
          :text-transform uppercase
          color: $accent-color

        h2
          display: block
          padding-top: 10px
          line-height: 16px
          color: $accent-color
          
          
        //gallery
        #main_view 
          +float-left

        .gallery 
          position: relative
          width: 388px
          top: -7px
          +box-sizing(border-box)          

        ul.thumb 
          float: left
          list-style: none
          margin: 0
          padding: 10px
        li 
          margin: 0
          padding: 5px
          float: left
          position: relative
          width: 110px
          height: 110px
          img 
            width: 100px
            height: 100px
            border: 1px solid #ddd
            padding: 5px
            background: #f0f0f0
            position: absolute
            left: 0
            top: 0
            -ms-interpolation-mode: bicubic
            &:hover 
              border: none


         
      .left-container
        +float-left
//        width: 525px

      .right-container
        +float-right
        padding-left: 0
        width: 435px
      h1
        font-size: 18px
        line-height: 1.2
        margin-bottom: 18px
        @extend .ff-dagny
        

      p
        line-height: 1.5
        margin-bottom: 18px
        padding-right: 15px
      ul
        list-style: disc
        margin-bottom: 15px
        padding-left: 15px
        li
          line-height: 1.5

// Scrollbar Pane

.scrollbar-pane
  height: 420px
  overflow: display
  position: relative

.scrollbar-handle-container
  width: $scrollbar-width

.scrollbar-handle
  +border-radius($scrollbar-width / 2)
  width: $scrollbar-width
  background: $scrollbar-handle-color
  &:hover
    background: darken($scrollbar-handle-color,5)
  &.move
    background: darken($scrollbar-handle-color,12)

.scrollbar-handle-up
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-up-color
  &:hover
    background: $scrollbar-handle-up-hover-color

.scrollbar-handle-down
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-down-color
  &:hover
    background: $scrollbar-handle-down-hover-color
    
    
