@import base
@import color_definitions
@import partials/typography
// Configure grid coordinates
$grid-columns: 24
$grid-width: 30px
$grid-gutter-width: 10px

@import grid-coordinates
+grid-coordinates
  
body
  background: #000
  font-size: 12px
  overflow: hidden
  
// Here down is project level
#mast-header
  position: relative
  width: 100%
  height: 95px
  top: -10px
  background: #fff
#banner
  position: relative
  width: 0px
  height: 170px
  background: transparent image-url("swift-sessions-home.png") no-repeat
  margin: 0 auto
  top: 18px
  
   
// Site logo
#logo
  position: absolute
  background: image-url("logo.png") no-repeat
  height: 69px
  +float-left
  width: 275px
  top: 0
  margin-left: 60px
  margin-top: 8px
  z-index: 1
  a
    position: absolute
    height: 100%
    text-indent: -99999px
    width: 100%
#logo2
  position: fixed
  background: image-url("logo2.png") no-repeat
  height: 96px
  width:  81px
  +float-right
  bottom: 40px
  right: 30px
  margin-right: 40px
  z-index: 2
  // Main navigation
.navigation
  @extend .font-helvetica
  position: relative
  +float-right
  margin: 0 auto
  font-size: 14px
  top: 68px
  right: 40px
  ul
    position: relative
    +pie-clearfix

    li
      +float-left
      position: relative
      display: block
      margin-left: 5px
      a
        color: $accent-color
        display: block
        padding: 6px 20px
        text-decoration: none
        &:hover
          @extend .navigation-hover

.navigation-hover
  color: #000
  
// Navigation
body.home a.home, body.about a.about, body.testimonials a.testimonials, body.sponsorspartners a.sponsorspartners, body.contact a.contact, body.services li.services > a
  @extend .navigation-hover
  

#contact-container
  @extend .grid-container
  @extend .font-helvetica
  +box-sizing(border-box)
  position: absolute
  top: 56%
  right: -100%
  width: 55%
  margin-top: -190px
  margin-left: -480px
  color: #fff
  z-index: 1
  color: #fff
  z-index: 1
  iframe
    position: absolute
    overflow: hidden
    margin-left: 10px
    top: 59px
  h1
    @extend .font-helvetica
    font-size: 42px
    margin: 24px 0 -20px 16px

    :text-transform uppercase
    color: $accent-color
    
body.page
  // Content area
  #content
    .container
      @extend .grid-container
      width: 55%
      @extend .font-helvetica
      +box-sizing(border-box)
      position: absolute
      top: 55%
      right: -100%
      margin-top: -190px
      background: #000
      color: #fff
      z-index: 1
      border-bottom: solid #fff 2px
      
      .left-container
        +box-sizing(border-box)
        padding: 35px 15px 15px 15px
        font-size: 18px
        line-height: 30px
        width: 100%
        +float-left
        
        h1
          @extend .font-helvetica
          font-size: 42px
          line-height: 15px
          margin-bottom: 20px
          :text-transform uppercase
          color: $accent-color
        h2
          display: block
          padding-top: 10px
          line-height: 16px
          color: $accent-color

      .right-container
        +float-right
        padding-left: 0
        width: 435px
      h1
        font-size: 18px
        line-height: 1.2
        margin-bottom: 18px
        @extend .font-helvetica
      p
        line-height: 1.5
        margin-bottom: 18px
        padding-right: 15px
      ul
        list-style: disc
        margin-bottom: 15px
        padding-left: 15px
        li
          line-height: 1.5
          
// Wide Page Formatting
body.wideServices
  // Content area
  #content
    .container
      @extend .grid-container
      width: 960px
      @extend .font-helvetica
      +box-sizing(border-box)
      position: relative
      margin-top: 100%
      margin-bottom: 150px
      background: #000
      color: #fff
      z-index: 1
      border-bottom: solid #fff 2px
      .wide-container
        +box-sizing(border-box)
        font-size: 14px
        line-height: 1.7em
        width: 100%
        +float-left
        padding: 35px 0 15px 0
        z-index: 5
        h1
          @extend .font-helvetica
          font-size: 42px
          line-height: 15px
          margin-bottom: 20px
          padding: 0 15px
          :text-transform uppercase
          color: $accent-color
        .package
          padding: 0px 15px
          margin-bottom: .7em
          &:hover
            background: #222
        h2
          display: block
          padding-top: 10px
          line-height: 16px
          color: $accent-color
        p
          padding-bottom: 10px

// Scrollbar Pane
.scrollbar-pane
  height: 100%
  overflow: display
  position: relative

.scrollbar-handle-container
  width: $scrollbar-width

.scrollbar-handle
  +border-radius($scrollbar-width / 2)
  width: $scrollbar-width
  background: $scrollbar-handle-color
  &:hover
    background: darken($scrollbar-handle-color,5)
  &.move
    background: darken($scrollbar-handle-color,12)

.scrollbar-handle-up
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-up-color
  &:hover
    background: $scrollbar-handle-up-hover-color

.scrollbar-handle-down
  width: $scrollbar-width
  height: 20px
  background: $scrollbar-handle-down-color
  &:hover
    background: $scrollbar-handle-down-hover-color
    