- @title = "Gallery"
- @body_class = "page gallery"



.left-container
  %h1= @title
  / #gallery-list
  /   %ul
  /     %li.commercial
  /       = link_to "Commercial", "/commercial", :class => "commercial"
  /     %li.residential
  /       = link_to "Residential", "/residential", :class => "residential"
  .gallery
    %ul.thumb
      %li
        %a{:href => "images/main_image1.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "images/main_image1.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image3.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image4.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image5.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image6.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image7.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image8.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
      %li
        %a{:href => "main_image9.jpg"}
          %img{:alt => "", :src => "images/thumb1.jpg"}/
  #main_view
    %a{:target => "_blank", :title => ""}
      %img{:alt => "", :src => "images/main_image1.jpg"}/

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/gallery.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });