- @title = "Personal Training Package Solutions"
- @body_class = "wideServices"

.container
  .wide-container
    %h1= @title
    
    .package
      <h2>90-Minute PT Sessions</h2>
      <p>These sessions are designed for clients that want to indulge in a full body workout.</p>

    .package
      <h2>60-Minute PT Sessions</h2>
      <p>During these 60-minute one-on-one sessions, a personal trainer will take you through workouts designed to help you reach your specific goals. You'll learn proper form and technique to maximize your results while reducing your risk of injury. PT is ideal if you're trying to lose weight, gain muscle, improve posture and flexibility, increase sports performance, or simply feel better.</p>

    .package
      <h2>30-Minute PT Sessions</h2>
      <p>Experience the benefits of personal training during sessions that fit your crazy schedule. Whether you're looking for a great lunchtime workout or are always on-the-go, you can still find time to take care of you.</p>

    .package    
      <h2>Personal Training Ab Workout</h2>
      <p>Indulge yourself in an intense cardio/abdominal session that will be sure to start you on your way to those stunning 6-pack abs.</p>

    .package
      <h2>20 minute Belly Burner: $25</h2>

    .package
      %h2 Personal Training
      %p 1-on-1 Personal Training Sessions:
      %p 30 min session: $29.99
      %p 60 min session: $69.99
      %p 90 min session: $89.00

      %h2 Package Personal Training Specials:
      %p 30 min sessions:
      %p (For the extremely busy professional: The most time efficient)

      %p 12 Session Package: $300
      %p 24 Session Package: $550
      %p 36 Package: $875

    .package    
      %h2 90 min Personal Training Sessions:
      %p 10 Session Package: $800 
      %p Truly the best for a FULL BODY Workout) 
      
    .package
      %h2 Online Personal Training
      %p Don't like jogging?  Love jogging? Hate weight machines? Love dumbbells?  That's fine! No matter what your likes or dislikes are, we'll provide exercise programs based on what YOU enjoy doing!  Don't have much free time available for working out?  Can't workout during "normal" hours?  No problem.  We can design an effective program for someone who wants to workout everyday or someone who can only workout a couple of days a week, and you decide when is the right time for YOU to workout. You will receive an login name and password to access all your training and nutritional needs.
      
      %p Billed on a per day basis:
      %p 1 Day: $9.99
      %p Or you can setup a monthly access for only $45
      

    %a.back{:href => "/services"}
      Back To Services

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/about.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 0,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({marginTop:'-10px'}, 750);				   
    	});			   
    });
