- @title = "Testimonials"
- @body_class = "page testimonials"

%style{ :type => "text/css" }
  :sass
    html
      :overflow hidden

.container
  .left-container
    %h1= @title
    .scrollbar-pane
      .test
        #testimony-image
        %p.testimony "Speed and quickness are two things that KG knows a lot about.  These are two necessities in division one athletics that no one can fake, and Kevin's experience in sprinting helped me and many others stand out in college.  Many of us strived to reach the next level, and it was Kevin that provided us with the training advice and technique to run and react on a professional level."
        %p.name -Mercury Hall
        %p.who Former SMU Linebacker/Defensive End
      
      .test
        #testimony-image.2
        %p.testimony "Kevin competed with world class speed in both track and football.  I had the privilage of competing with Kevin in both football and track at SMU.   His work ethic, attention to technique & skill, and "team play" attitude were second to none.  Having him as a teammate in track, proved very helpfull to me, as his understanding and ability to share that understanding of how to maximize one's speed potential, is quite a gift."
        %p.name -Tim Gardner
        %p.who President/CEO Integrity Marketing Associates
        
        %p.link Read More...
      
   
      
      
- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/services.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({right:'18%'}, 1000);				   
    	});			   
    });