- @title = "Wellness Training"
- @body_class = "page services well"

.left-container
  .scrollbar-pane
    %h1= @title
    :markdown
      Health insurance companies have so many options for wellness education and promotion. Employers do not have the time to implement these programs as it takes time to put the information together.  Our goal is to take the free programs available through your health insurance and couple them with our education and create a fully functional wellness program for your company.
      
/ .right-container
/   %img{:src => "/images/commercial-painting.jpg"}

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/Services-well.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });