@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.font-helvetica {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.ff-dagny, .m3c-bar, .navigation, .contact-container h1, body.page #content .container, body.home #content .container, body.page #content .container .left-container h1, body.page #content .container .right-container h1, body.home #content .container .left-container h1, body.home #content .container .right-container h1 {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
}

.m3c-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  *zoom: 1;
  background: #453419;
  background: rgba(69, 52, 25, 0.8);
  border-top: 1px solid rgba(142, 199, 65, 0.8);
  color: white;
  font-size: 9px;
  font-family: Arial;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
  width: 100%;
}
.m3c-bar .copyright {
  display: inline;
  float: left;
  padding-left: 50px;
}
.m3c-bar .powered-by {
  display: inline;
  float: right;
  padding-right: 50px;
}
.m3c-bar a {
  color: #8ec741;
  text-decoration: none;
}
.m3c-bar a:hover {
  color: #8ec741;
  border-bottom: 1px solid #eeeeee;
  text-decoration: none;
}

a {
  color: #006ac4;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

.bgstretcher {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.bgstretcher, .bgstretcher ul, .bgstretcher ul li {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.bgstretcher ul {
  list-style: none;
}
.bgstretcher ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

.font-helvetica {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.ff-dagny, .m3c-bar, .navigation, .contact-container h1, body.page #content .container, body.home #content .container, body.page #content .container .left-container h1, body.page #content .container .right-container h1, body.home #content .container .left-container h1, body.home #content .container .right-container h1 {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
}

.grid-pie-clearfix, .grid-container, body.page #content .container, body.home #content .container, .nested-grid-container, .grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  *zoom: 1;
}
.grid-pie-clearfix:after, .grid-container:after, body.page #content .container:after, body.home #content .container:after, .nested-grid-container:after, .grid-block:after, .grid-full:after, .grid-1:after, .grid-2:after, .grid-3:after, .grid-4:after, .grid-5:after, .grid-6:after, .grid-7:after, .grid-8:after, .grid-9:after, .grid-10:after, .grid-11:after, .grid-12:after, .grid-13:after, .grid-14:after, .grid-15:after, .grid-16:after, .grid-17:after, .grid-18:after, .grid-19:after, .grid-20:after, .grid-21:after, .grid-22:after, .grid-23:after, .grid-24:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.grid-container, body.page #content .container, body.home #content .container {
  margin: 0 auto;
  width: 960px;
}

.nested-grid-container {
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}

.grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
}

.grid-full {
  width: 950px;
}

.grid-1 {
  width: 30px;
}

.grid-2 {
  width: 70px;
}

.grid-3 {
  width: 110px;
}

.grid-4 {
  width: 150px;
}

.grid-5 {
  width: 190px;
}

.grid-6 {
  width: 230px;
}

.grid-7 {
  width: 270px;
}

.grid-8 {
  width: 310px;
}

.grid-9 {
  width: 350px;
}

.grid-10 {
  width: 390px;
}

.grid-11 {
  width: 430px;
}

.grid-12 {
  width: 470px;
}

.grid-13 {
  width: 510px;
}

.grid-14 {
  width: 550px;
}

.grid-15 {
  width: 590px;
}

.grid-16 {
  width: 630px;
}

.grid-17 {
  width: 670px;
}

.grid-18 {
  width: 710px;
}

.grid-19 {
  width: 750px;
}

.grid-20 {
  width: 790px;
}

.grid-21 {
  width: 830px;
}

.grid-22 {
  width: 870px;
}

.grid-23 {
  width: 910px;
}

.grid-24 {
  width: 950px;
}

.grid-prefix-1 {
  padding-left: 40px;
}

.grid-prefix-2 {
  padding-left: 80px;
}

.grid-prefix-3 {
  padding-left: 120px;
}

.grid-prefix-4 {
  padding-left: 160px;
}

.grid-prefix-5 {
  padding-left: 200px;
}

.grid-prefix-6 {
  padding-left: 240px;
}

.grid-prefix-7 {
  padding-left: 280px;
}

.grid-prefix-8 {
  padding-left: 320px;
}

.grid-prefix-9 {
  padding-left: 360px;
}

.grid-prefix-10 {
  padding-left: 400px;
}

.grid-prefix-11 {
  padding-left: 440px;
}

.grid-prefix-12 {
  padding-left: 480px;
}

.grid-prefix-13 {
  padding-left: 520px;
}

.grid-prefix-14 {
  padding-left: 560px;
}

.grid-prefix-15 {
  padding-left: 600px;
}

.grid-prefix-16 {
  padding-left: 640px;
}

.grid-prefix-17 {
  padding-left: 680px;
}

.grid-prefix-18 {
  padding-left: 720px;
}

.grid-prefix-19 {
  padding-left: 760px;
}

.grid-prefix-20 {
  padding-left: 800px;
}

.grid-prefix-21 {
  padding-left: 840px;
}

.grid-prefix-22 {
  padding-left: 880px;
}

.grid-prefix-23 {
  padding-left: 920px;
}

.grid-prefix-margin-1 {
  margin-left: 45px;
}

.grid-prefix-margin-2 {
  margin-left: 85px;
}

.grid-prefix-margin-3 {
  margin-left: 125px;
}

.grid-prefix-margin-4 {
  margin-left: 165px;
}

.grid-prefix-margin-5 {
  margin-left: 205px;
}

.grid-prefix-margin-6 {
  margin-left: 245px;
}

.grid-prefix-margin-7 {
  margin-left: 285px;
}

.grid-prefix-margin-8 {
  margin-left: 325px;
}

.grid-prefix-margin-9 {
  margin-left: 365px;
}

.grid-prefix-margin-10 {
  margin-left: 405px;
}

.grid-prefix-margin-11 {
  margin-left: 445px;
}

.grid-prefix-margin-12 {
  margin-left: 485px;
}

.grid-prefix-margin-13 {
  margin-left: 525px;
}

.grid-prefix-margin-14 {
  margin-left: 565px;
}

.grid-prefix-margin-15 {
  margin-left: 605px;
}

.grid-prefix-margin-16 {
  margin-left: 645px;
}

.grid-prefix-margin-17 {
  margin-left: 685px;
}

.grid-prefix-margin-18 {
  margin-left: 725px;
}

.grid-prefix-margin-19 {
  margin-left: 765px;
}

.grid-prefix-margin-20 {
  margin-left: 805px;
}

.grid-prefix-margin-21 {
  margin-left: 845px;
}

.grid-prefix-margin-22 {
  margin-left: 885px;
}

.grid-prefix-margin-23 {
  margin-left: 925px;
}

.grid-suffix-1 {
  padding-right: 40px;
}

.grid-suffix-2 {
  padding-right: 80px;
}

.grid-suffix-3 {
  padding-right: 120px;
}

.grid-suffix-4 {
  padding-right: 160px;
}

.grid-suffix-5 {
  padding-right: 200px;
}

.grid-suffix-6 {
  padding-right: 240px;
}

.grid-suffix-7 {
  padding-right: 280px;
}

.grid-suffix-8 {
  padding-right: 320px;
}

.grid-suffix-9 {
  padding-right: 360px;
}

.grid-suffix-10 {
  padding-right: 400px;
}

.grid-suffix-11 {
  padding-right: 440px;
}

.grid-suffix-12 {
  padding-right: 480px;
}

.grid-suffix-13 {
  padding-right: 520px;
}

.grid-suffix-14 {
  padding-right: 560px;
}

.grid-suffix-15 {
  padding-right: 600px;
}

.grid-suffix-16 {
  padding-right: 640px;
}

.grid-suffix-17 {
  padding-right: 680px;
}

.grid-suffix-18 {
  padding-right: 720px;
}

.grid-suffix-19 {
  padding-right: 760px;
}

.grid-suffix-20 {
  padding-right: 800px;
}

.grid-suffix-21 {
  padding-right: 840px;
}

.grid-suffix-22 {
  padding-right: 880px;
}

.grid-suffix-23 {
  padding-right: 920px;
}

.grid-suffix-margin-1 {
  margin-right: 45px;
}

.grid-suffix-margin-2 {
  margin-right: 85px;
}

.grid-suffix-margin-3 {
  margin-right: 125px;
}

.grid-suffix-margin-4 {
  margin-right: 165px;
}

.grid-suffix-margin-5 {
  margin-right: 205px;
}

.grid-suffix-margin-6 {
  margin-right: 245px;
}

.grid-suffix-margin-7 {
  margin-right: 285px;
}

.grid-suffix-margin-8 {
  margin-right: 325px;
}

.grid-suffix-margin-9 {
  margin-right: 365px;
}

.grid-suffix-margin-10 {
  margin-right: 405px;
}

.grid-suffix-margin-11 {
  margin-right: 445px;
}

.grid-suffix-margin-12 {
  margin-right: 485px;
}

.grid-suffix-margin-13 {
  margin-right: 525px;
}

.grid-suffix-margin-14 {
  margin-right: 565px;
}

.grid-suffix-margin-15 {
  margin-right: 605px;
}

.grid-suffix-margin-16 {
  margin-right: 645px;
}

.grid-suffix-margin-17 {
  margin-right: 685px;
}

.grid-suffix-margin-18 {
  margin-right: 725px;
}

.grid-suffix-margin-19 {
  margin-right: 765px;
}

.grid-suffix-margin-20 {
  margin-right: 805px;
}

.grid-suffix-margin-21 {
  margin-right: 845px;
}

.grid-suffix-margin-22 {
  margin-right: 885px;
}

.grid-suffix-margin-23 {
  margin-right: 925px;
}

.grid-push-1 {
  left: 40px;
}

.grid-push-2 {
  left: 80px;
}

.grid-push-3 {
  left: 120px;
}

.grid-push-4 {
  left: 160px;
}

.grid-push-5 {
  left: 200px;
}

.grid-push-6 {
  left: 240px;
}

.grid-push-7 {
  left: 280px;
}

.grid-push-8 {
  left: 320px;
}

.grid-push-9 {
  left: 360px;
}

.grid-push-10 {
  left: 400px;
}

.grid-push-11 {
  left: 440px;
}

.grid-push-12 {
  left: 480px;
}

.grid-push-13 {
  left: 520px;
}

.grid-push-14 {
  left: 560px;
}

.grid-push-15 {
  left: 600px;
}

.grid-push-16 {
  left: 640px;
}

.grid-push-17 {
  left: 680px;
}

.grid-push-18 {
  left: 720px;
}

.grid-push-19 {
  left: 760px;
}

.grid-push-20 {
  left: 800px;
}

.grid-push-21 {
  left: 840px;
}

.grid-push-22 {
  left: 880px;
}

.grid-push-23 {
  left: 920px;
}

.grid-pull-1 {
  left: -20px;
}

.grid-pull-2 {
  left: -40px;
}

.grid-pull-3 {
  left: -60px;
}

.grid-pull-4 {
  left: -80px;
}

.grid-pull-5 {
  left: -100px;
}

.grid-pull-6 {
  left: -120px;
}

.grid-pull-7 {
  left: -140px;
}

.grid-pull-8 {
  left: -160px;
}

.grid-pull-9 {
  left: -180px;
}

.grid-pull-10 {
  left: -200px;
}

.grid-pull-11 {
  left: -220px;
}

.grid-pull-12 {
  left: -240px;
}

.grid-pull-13 {
  left: -260px;
}

.grid-pull-14 {
  left: -280px;
}

.grid-pull-15 {
  left: -300px;
}

.grid-pull-16 {
  left: -320px;
}

.grid-pull-17 {
  left: -340px;
}

.grid-pull-18 {
  left: -360px;
}

.grid-pull-19 {
  left: -380px;
}

.grid-pull-20 {
  left: -400px;
}

.grid-pull-21 {
  left: -420px;
}

.grid-pull-22 {
  left: -440px;
}

.grid-pull-23 {
  left: -460px;
}

body {
  background: white;
  font-size: 12px;
}

#mast-header, body.splash #mast-header {
  position: relative;
  width: 100%;
  height: 114px;
  top: -10px;
  background: url('../images/top-bar.jpg?1305300038') repeat-x;
}
#mast-header #brand, body.splash #mast-header #brand {
  position: relative;
  width: 897px;
  height: 114px;
  background: transparent url('../images/brand.png?1305054464') no-repeat;
  margin: 0 auto;
}

body.splash #mast-header, body.splash #mast-header {
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

#logo, #splash-logo {
  position: relative;
  background: url('../images/logo.png?1305055529') no-repeat;
  height: 55px;
  display: inline;
  float: right;
  width: 116px;
  top: -88px;
  margin-right: 20px;
  z-index: 1;
}
#logo a, #splash-logo a {
  position: absolute;
  height: 100%;
  text-indent: -99999px;
  width: 100%;
}

#splash-logo {
  top: 10px;
}

.navigation {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
  top: 88px;
  left: 148px;
}
.navigation ul {
  position: relative;
  *zoom: 1;
}
.navigation ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.navigation ul li {
  display: inline;
  float: left;
  position: relative;
  display: block;
  margin-left: 5px;
}
.navigation ul li a {
  color: white;
  display: block;
  padding: 6px 20px;
  text-decoration: none;
}

.navigation-hover, .navigation ul li a:hover, body.home a.home, body.about a.about, body.contact a.contact, body.gallery a.gallery, body.testimonials a.testimonials, body.services li.services > a {
  color: #8ec741;
}

.content-container, body.page #content .container, body.home #content .container {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url('../images/trans-bg.png?1305298408') repeat;
  height: 450px;
  margin-top: -190px;
  margin-left: -480px;
  color: white;
  z-index: 1;
  border: solid #453419 2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 450px;
  margin-top: -190px;
  margin-left: -485px;
  margin-right: 30px;
  color: white;
  z-index: 1;
}
.contact-container iframe {
  position: absolute;
  overflow: hidden;
  top: 59px;
  margin-left: -980px;
  height: 330px;
}
.contact-container h1 {
  font-size: 36px;
  line-height: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #8ec741;
}

ul.tabNavigation {
  float: right;
  list-style: none;
  margin-top: -39px;
}
ul.tabNavigation a {
  padding: 0 20px;
  color: #8ec741;
}
ul.tabNavigation li.tabNavigation {
  margin: 0;
  padding: 5px;
  float: left;
  position: relative;
}

body.page #content .container, body.home #content .container {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body.page #content .container .left-container, body.page #content .container .right-container, body.home #content .container .left-container, body.home #content .container .right-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 15px 15px 15px;
  font-size: 18px;
  line-height: 30px;
  width: 970px;
}
body.page #content .container .left-container h1, body.page #content .container .right-container h1, body.home #content .container .left-container h1, body.home #content .container .right-container h1 {
  font-size: 36px;
  line-height: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #8ec741;
}
body.page #content .container .left-container h2, body.page #content .container .right-container h2, body.home #content .container .left-container h2, body.home #content .container .right-container h2 {
  display: block;
  padding-top: 10px;
  line-height: 16px;
  color: #8ec741;
}
body.page #content .container .left-container .main_view, body.page #content .container .right-container .main_view, body.home #content .container .left-container .main_view, body.home #content .container .right-container .main_view {
  display: inline;
  float: left;
}
body.page #content .container .left-container .gallery, body.page #content .container .right-container .gallery, body.home #content .container .left-container .gallery, body.home #content .container .right-container .gallery {
  position: relative;
  width: 388px;
  top: -7px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body.page #content .container .left-container ul.thumb, body.page #content .container .right-container ul.thumb, body.home #content .container .left-container ul.thumb, body.home #content .container .right-container ul.thumb {
  float: left;
  list-style: none;
  margin: 0;
  padding: 10px;
}
body.page #content .container .left-container li.thumb, body.page #content .container .right-container li.thumb, body.home #content .container .left-container li.thumb, body.home #content .container .right-container li.thumb {
  margin: 0;
  padding: 5px;
  float: left;
  position: relative;
  width: 110px;
  height: 110px;
}
body.page #content .container .left-container li.thumb img, body.page #content .container .right-container li.thumb img, body.home #content .container .left-container li.thumb img, body.home #content .container .right-container li.thumb img {
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  padding: 5px;
  background: #f0f0f0;
  position: absolute;
  left: 0;
  top: 0;
  -ms-interpolation-mode: bicubic;
}
body.page #content .container .left-container li.thumb img:hover, body.page #content .container .right-container li.thumb img:hover, body.home #content .container .left-container li.thumb img:hover, body.home #content .container .right-container li.thumb img:hover {
  border: none;
}
body.page #content .container .left-container, body.home #content .container .left-container {
  display: inline;
  float: left;
}

.scrollbar-pane {
  height: 420px;
  overflow: display;
  position: relative;
}

.scrollbar-handle-container {
  width: 8px;
}

.scrollbar-handle {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  width: 8px;
  background: #eeeeee;
}
.scrollbar-handle:hover {
  background: #e1e1e1;
}
.scrollbar-handle.move {
  background: #cfcfcf;
}

.scrollbar-handle-up {
  width: 8px;
  height: 20px;
  background: #dddddd;
}
.scrollbar-handle-up:hover {
  background: #555555;
}

.scrollbar-handle-down {
  width: 8px;
  height: 20px;
  background: #dddddd;
}
.scrollbar-handle-down:hover {
  background: #555555;
}
