- @title = "Sponsors & Partners"
- @body_class = "wideServices"

.container
  .wide-container
    %h1 Sponsors
    .package
      .test
        %img{:src => "/images/testimonials/mercury-hall.jpg", :width => "100px", :height => "100px"}

        %p.name -Mercury Hall
        
    .package 
      .test
        %img{:src => "/images/testimonials/tim-gardner.jpg", :width => "100px", :height => "100px"}
        %p.name -Tim Gardner
    %h2 Partners
    .package 
      .test
        %img{:src => "/images/testimonials/eric-eisenburg.jpg", :width => "100px", :height => "100px"}
        %p.testimony "I  am honored to have worked with Kevin since his NFL career began while he was with the St. Louis Rams.  Kevin has always been known for his speed.  Not only did he have a great work ethic and a high level of competition while playing in the NFL but he often took the time to work with kids at schools and sports camps.  He helped them in aspects of speed and other football skills, as well as encouraged them to focus on their education and their character.  Kevin Garrett truly is a role model that brings much more to the table then just training.  He has always led by example."
        %p.name -Eric Eisenberg
        %p.who President of Iron Mountain Sports

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/about.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 0,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({marginTop:'-10px'}, 750);				   
    	});			   
    });
