- @title = "Sponsors & Partners"
- @body_class = "page sponsorspartners"

%style{ :type => "text/css" }
  :sass
    html
      :overflow hidden

.container
  .left-container
    %h1= @title
    .scrollbar-pane
      %h2 SPONSORS
      #sponsors
        .sponsor-gold
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/sponsor-now.jpg", :width => "100px", :height => "100px"}
          %p Sponsor Name
        
        .sponsor-silver
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/sponsor-now.jpg", :width => "100px", :height => "100px"}
          %p Sponsor Name

        
        .sponsor-gold
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/sponsor-now.jpg", :width => "100px", :height => "100px"}
          %p Sponsor Name
        
        .sponsor-silver
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/sponsor-now.jpg", :width => "100px", :height => "100px"}
          %p Sponsor Name
        
          

      %h2 PARTNERS   
      #partners
        .partner
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/inzonefoundation.jpg", :width => "100px", :height => "100px"}
          %p InZONE Foundation

        .partner
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/become-partner.jpg", :width => "100px", :height => "100px"}
          %p Partner Name

        .partner
          %a{:href => "http://www.inzonefoundation.org"}
            %img{:src => "/images/partners/become-partner.jpg", :width => "100px", :height => "100px"}
          %p Partner Name


- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/sponsors-partners.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({right:'18%'}, 1000);				   
    	});			   
    });