- @title = "Homepage"
- @body_class = "home"





#banner

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {

      $.ezBgResize({
        img     : "/images/backgrounds/home.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });

    });
    
    $(document).ready(function(){
    	$("#banner").ready(function(){
    		$("#banner").animate({width:'784px'}, 1000);				   
    	});			   
    });