- @title = "Homepage"
- @body_class = "home"


.left-container
  .scrollbar-pane
    %h1
      Welcome
    :markdown
      "Our passionate, talented, and detail-oriented team is dedicated to the highest standards that are our namesake, and we are proud to bring value, creativity, beauty, color and tranquility to each project we touch."

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {

      $.ezBgResize({
        img     : "/images/backgrounds/home.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });

    });