=m3c-bar
  .m3c-bar
    @extend .ff-dagny
    position: fixed
    left: 0
    bottom: 0
    +clearfix
    background: #453419
    background: rgba(#453419,.8)
    border-top: 1px solid rgba(#8ec741,.8)
    color: #fff
    font-size: 9px
    font-family: Arial
    letter-spacing: 1px
    line-height: 26px
    text-transform: uppercase
    width: 100%
    .copyright
      +float-left
      padding-left: 50px
    .powered-by
      +float-right
      padding-right: 50px
    a
      color: #8ec741
      text-decoration: none
      &:hover
        color: #8ec741
        border-bottom: 1px solid #eee
        text-decoration: none

+m3c-bar