- @title = "Bootcamp"
- @body_class = "wideServices"

.container
  .wide-container
    .head
      %h1= @title
      %p.verse "Do you not know that your bodies are temples... Therefore honor God with your bodies."  - 1 Corinthians 6:19-20 (NIV
    
    .package
      %p Pay a one time monthly membership fee of $150 and have access to any boot camp sessions that are held. You will receive a SWIFT SESSIONS BOOT CAMP BADGE. Boot camps will be held every Monday, Wednesday, & Saturday.
      
      %p Monday & Wednesday will have two sessions:   6:30am - 7:00am &amp; 7:00pm - 8:00pm.
      
      %p Saturday will have one session: 8:00am - 9:00am
    
      %p Or you may choose to pay $35 per Monday/Wednesday AM session & $50 for Saturday AM session & Monday/Wednesday PM sessions.

      %a.back{:href => "/services"}
        Back To Services

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/about.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 0,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({marginTop:'-10px'}, 750);				   
    	});			   
    });
