- @title = "About Us"
- @body_class = "page about"

.left-container
  .scrollbar-pane
    %h1= @title

    :markdown
      Urbanscapes is a locally-owned and operated, full-service commercial and residential design landscaping company has been proudly serving the Greater Houston area. Our aggressive growth is a testament to the quality work we perform and complete daily.  Our client's interest always comes first: Our talented and passionate team prides itself on building long-term relationships and forming personal, one-on-one relationships that ensure that the landscaping needs and visions of our clients are fully met. Our company mission is to provide quality craftsmanship to our clients through the successful creation of beautiful, functional and award-winning outdoor environments that endure for seasons to come.



- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/about.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });
