- @title = "About Us"
- @body_class = "page about"

%style{ :type => "text/css" }
  :sass
    html
      :overflow hidden

.container
  .left-container
    %h1= @title
    .scrollbar-pane
      
      %p.about       
        Swift Sessions was created to help clients reach the best physical shape of their lives in the least amount of time possible for the long term. Swift Sessions' philosophy is the reason for its success: We focus on re-building and re-training the spirit inherent in each person, and we are based around the understanding that the mental, spiritual and physical are all interconnected. 
        %br 
        %br
        In 2005, Kevin Garrett, founder of Swift Sessions, and a long-time professional athlete and sports coach set out to create a program that would help people of all ages to reach their body's greatest physical potential. Swift Sessions is different than any other physical training program available because of the one-on-one spiritual and mental support that it offers to its clients throughout their health and lifestyle changes. Making a new commitment to your body, or renewing an old commitment involves discipline and hard work, and Swift Sessions has the ability to give you the foundation you need to adopt these changes into your life so that you can live and operate at your maximum potential.
        %br
        %br
        We invite you to come train with us, and to take a look at the personal fitness programs we offer.

      %a{:href => "/testimonials/testimonials-continued"}
        %p.link 





- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/about.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });

    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({right:'18%'}, 1000);				   
    	});			   
    });