- @title = "Services"
- @body_class = "page services"

%style{ :type => "text/css" }
  :sass
    html
      :overflow hidden

.container
  .left-container
    .scrollbar-pane
      %h1= @title
      .service-list
        .service
          #service-image
            %a{:href => "/personal-training"}
              %img{:src => "/images/services/personal-training.jpg"}
          %p.service-text Personal Training Package Solutions
        
        
        .service
          #service-image
            %a{:href => "/saq-training"}
              %img{:src => "/images/services/saq-training.jpg"}
          %p.service-text SAQ Training Package Solutions
        
        
        .service
          #service-image
            %a{:href => "/other-services"}
              %img{:src => "/images/services/meal-plan.jpg"}
          %p.service-text Other Services
       
       
        .service
          #service-image
            %a{:href => "/bootcamps"}
              %img{:src => "/images/services/bootcamp.jpg"}
          %p.service-text Bootcamps

- content_for :page_javascript do
  :javascript
    $(document).ready(function() {
      
      $.ezBgResize({
        img     : "/images/backgrounds/services.jpg",
        width   : 1600,
        height  : 1050,
        opacity : 1,
        center  : true
      });
      
    });
    $(document).ready(function(){
    	$(".container").ready(function(){
    		$(".container").animate({right:'18%'}, 1000);				   
    	});			   
    });